*{
    box-sizing: border-box;
}

body{
    font-family: 'Barlow', sans-serif;
font-family: 'Barlow Condensed', sans-serif;
}

#container{
    display: grid;
    grid-template-areas: 'first'
                        'second';
                        gap: 40px;
                        grid-auto-rows: 300px;
}

.section1{
grid-area: first;

}

.section1-content{
    display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

.half-grey{
    background-color: #EDF2F6;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}



.ham{
    height: 1.2rem;
}

.section2{
grid-area: second;
}