*{
    box-sizing: border-box;
}

body{
    font-family: 'Barlow', sans-serif;
font-family: 'Barlow Condensed', sans-serif;
}

#container{
    display: grid;
    grid-template-areas: 'first'
                        'second';
                        gap: 40px;
                        grid-auto-rows: 425px;
                        overflow-x: hidden;
}

.section1{
grid-area: first;


}

.section1-content{
    display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  position: relative;

}

.half-grey{
    background-color: #EDF2F6;
    border-bottom-left-radius: 4rem;
  width: 100%;
    display: flex;
    justify-content: flex-end;
   
}



.ham{
    height: 1.2rem;
    margin-top: 1.5rem ;
    margin-right: 2rem;
}

.logo{
    height: 1.5rem;
    margin-top: 1.5rem ;
    margin-left: 2rem;
}

.comp{
 max-width: 30rem;
   height: auto;
    position: absolute;
    top: 8rem;
    left: 1rem;
}

.section2{
grid-area: second;
}